<h1>About Us</h1>
<p>
  Heres a story about when my mom got scared and said "You're moving with your auntie and your uncle in Bel-Air." I whistled for a cab and when it came near the license plate said "Fresh" and there were dice in the mirror. If anything I could say that this cab was rare but I thought, naw, forget it, yo holmes to Bel-Air. I pulled up to the house about seven or eight and said to the cabbie "Yo holmes smell ya later." Looked at my kingdom, I was finally there, to sit on my throne as the prince of Bel-Air.
</p>