
<div class="page-header">
  <h1>TrialTogether <small> Search. Learn. Connect.</small></h1>
</div>
<div class="form-container">
<form class="form-horizontal">
  <fieldset>
  <legend>Search for clinical trials nearby</legend>
  <div class="control-group">
    <label class="control-label">Disease</label>
    <div class="controls">
      <input type="text" class="input-xxlarge" placeholder="Search for a disease">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Lcoation</label>
    <div class="controls">
      <input type="text" class="input-xxlarge" placeholder="Enter a zipcode, e.g. 02215">
    </div>
  </div>
  <div class="control-group offset7">
    <button type="submit" class="btn btn-large btn-primary span">Search</button>
  </div>
  </fieldset>
</form>
</div>