<% provide(:title, '| Trials') %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 hero-unit">
      <<h1>Trials on this side</h1>
    </div>
    <div class="span8 hero-unit">
      <<h1>Maps and Faces on this side</h1>
    </div>
  </div>
</div>