<% provide(:title, '| Trial Results') %>
<% content_for :head do %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBex04VuePYf966aHTAPQ3Wfi-pS27w8ko&sensor=false">
    </script>
    <script type="text/javascript">
  var geocoder;
  var map;
  var latlng;
  function initialize() {
    var address =  "<%=params[:location]%>"
    geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        latlng = results[0].geometry.location
        var mapOptions = {
           zoom: 14,
           center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
    }});
  }
    </script>
<% end %>

<div class="page-header"> 
  <h1>Trial Results</h1> 
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
  	  <ul class="trials">
    	<% @trials.each do |trial| %>
  		<li class="trialname"><%= link_to trial.name, 
  		  :action => 'show', :id => trial.id  %></li>
 	 	  <% end %>
  	  </ul>

      <%= will_paginate @trials, inner_window: 1, outer_window: 0, previous_label: "&larr;", next_label: "&rarr;" %>

    </div>
    <div id= "map_canvas" class="span7 hero-unit" >
    </div>
  </div>
</div>