<% provide(:title,"| #{@trial.brief_title}") %>

<div class="container-fluid">
  <div class="row-fluid">
   <aside class="span4 hero-unit">
   	 <h1>Activity Feed</h1>
   	</aside>
    <div class="span8 grayContainer">
      <h1> Trial Profile </h1>
      <h4> Title: </h4>
      <h4> Summary: </h4>
      <h4> Completion Date: </h4>
      <h4> Download Date: </h4>
      <h4> Is FDA Regulated: </h4>
      <h4> Keywords: </h4>
      <h4> NCT ID: </h4>
      <h4> Official Title: </h4>
      <h4> Org Study ID: </h4>
      <h4> Overall Status:</h4>
      <h4> Phase: </h4>
      <h4> Start Date: </h4>
      <h4> Study Design: </h4>
      <h4> Study Type: </h4>
      <h4> URL: </h4>
      <h4> Location: </h4>
      <h4> Sponsors: </h4>
      <h4> Eligibilities: </h4>
      <h4> Primary Outcomes:</h4>

    </div>
  </div>
</div>