<% provide(:title,"| #{@user.name}") %>

<div class="container-fluid">
  <div class="row-fluid">
  	<%= render 'users/sidebar' %>
    <div class="span8 hero-unit">
      <%= render "posts/post_feed" %>
    </div>
  </div>
</div>
