<li>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago
  </span>
  <% if @trial%>
	  <span>
	  	by <%= link_to post.user.name, post.user %>
	  </span>
  <% else %>
	  <span>
	  	on <%= link_to truncate(post.trial.brief_title, length: 45), post.user %>
	  </span>
  <% end %>
</li>