 <header class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "TrialsTogether", root_path, id: "logo" %>
          <nav>
            <form class="form-inline nav pull-right">
             <input type="text" class="input-small" placeholder="Email">
             <input type="password" class="input-small" placeholder="Password">
             <label class="checkbox">
              <input type="checkbox"> Remember me
             </label>
             <%= link_to "Sign in", '#', class: "btn" %>
             <%= link_to "Register", '#', class: "btn" %>
            </form>
          </nav>
        </div>
      </div>
    </header>